:root {
    --bg: #241715;
    --bg-secondary: #302322;

    --primary: #416165;         /* per le card dei film */
    --primary-light: #5C7C80;   /* hover sulle card */

    --text: #D0CDD7;
    --text-muted: #96939C;

    --accent: #D9DBF1;          /* per link ed elementi interattivi */
    --accent-yellow: #E6C65C;   /* colore per elemnti particolari quali bottoni "aggiungi ai preferiti" o "valuta il film"*/

    --error: #FF4D4D;
    --success: #6FCF97;

    
    --margin: 2rem;

}

.glass-box {
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 8px 4px rgba(255, 255, 255, 0.4);
  position: relative;
  overflow: hidden;
}

.glass-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
