html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

/* ---------------- NAVBAR --------------- */
#navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.intro {
    margin: var(--margin);
}
#welcome {
    margin: 0;
    font-size: 2rem;
    font-style: italic;
}
#t-dashboard {
    margin: 0;
    font-size: 4rem;
}
.cont-search-icon {
    background-color: var(--bg);
    border: none;
    margin: var(--margin);
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.search-icon:hover {
    cursor: pointer;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 0;
    min-width: 0;
    height: 50px;
    box-sizing: border-box;
    padding: 0 1rem;
    border: 1px solid var(--accent);
    border-radius: 25px;
    color: var(--text-muted);
    overflow: hidden;
    position: relative;
}
.search-bar:hover {
    cursor: text;
}
#search-label{
    margin: 0 0 0 calc(var(--margin) / 2);
}
#input-field {
    background-color: transparent;
    color: var(--text);
    border: none;
    position: absolute;
    border-radius: 25px;
    padding: calc(var(--margin) / 4) calc(var(--margin) / 2);
}
#input-field:focus {
    outline: none;
}

/* ---------------- DISCOVER SECTION --------------- */
#discoverSection {
    width: auto;
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: calc(var(--margin) / 3);
    border-radius: 50px;
}
#t-discover {
    margin: calc(var(--margin) / 2) 0 calc(var(--margin) / 2) calc(var(--margin));
    font-size: 2rem;
}
.container-films {
    display: flex;
    align-items: center;
}
.film-discover-card {
    aspect-ratio: 3/4;
    width: 300px;
    margin: calc(var(--margin) / 3);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
